body {
  font-family: "Montserrat", sans-serif;
}

header {
  display: flex;
  height: 18vh;
  background-color: #f2e8cf;
  justify-content: space-between;
  border-bottom: 2px solid black;
}

header > .logo {
  display: flex;
}

header > .logo > img {
  width: 270px;
  margin: 5px;
}

header > span {
  font-size: 52px;
  font-style: normal;
  font-weight: 400;
  align-self: center;
}

header > .login {
  display: flex;
  vertical-align: middle;
  align-items: center;
  flex-direction: column;
  margin-right: 10px;
}

header > .login > button {
  width: 200px;
  height: 50px;
  margin-top: 8px;
  border-radius: 20px;
  border: 3px solid black;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  transition: 0.2s;
}

header > .login > button:active {
  transform: scale(0.9);
  transition: 0.2s;
}

main {
  display: flex;
  flex-direction: row;
}

.tournaments {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 8px;
  width: 55%;
  justify-content: center;
  margin-top: 8px;
  margin-bottom: 8px;
}

.tournament {
  flex-direction: column;
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 49vh;
  height: 49vh;
  background-color: rgb(213, 213, 213);
  transition: 0.1s;
}

.tournament:hover {
  transform: scale(1.01);
  transition: 0.2s;
}

.tournament > .image {
  margin: 10px;
  flex: 1;
  height: 50%;
}

.tournament > .image > img {
  height: 75%;
}

.tournament > .info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}
